h4.top-heading.no-top {
    color: #791214 !important;
    font-size: 18px;
    font-weight: 400;
}
.unicodes h4 {
    font-size: 18px;
    color: #000 !important;
    font-weight: 400;
}
.Gurbani-Raags.p-4 {
    background: #fff8e8;
}
.bold {
    color: #000 !important;
    font-size: 14px;
    font-weight: 700;
}